<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="HeaderMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #HeaderMenu="matMenu">
      <button mat-menu-item routerLink="/tracker">
          <mat-icon>bar_chart</mat-icon>
          <span>Crypto-Tracker</span>
      </button>
      <button mat-menu-item routerLink="/portfolio">
          <mat-icon>attach_money</mat-icon>
          <span>My Portfolio</span>
      </button>
  </mat-menu>
    <span>Crypto-Tracker</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div class="router-container">
  <router-outlet></router-outlet>
</div>