<div class="main-container">
  <mat-card>
    <mat-card-content>
      <table class="table">
        <tr>
          <th class="c1">#</th>
          <th class="c2">Coin</th>
          <th class="c3">Price</th>
          <th class="c4">24h %</th>
          <th class="c4">7d %</th>
          <th class="c3">Mkt Cap</th>
          <th class="c3">24h Volume</th>
          <th class="c3">Circ. Supply</th>
          <th class="c3">Last 7 Days</th>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card *ngFor="let item of newdata; let i=index">
      <table class="table" *ngIf="i<100">
        <tr>
          <td class="c1">{{ item.market_cap_rank }}</td>
          <td class="c2"><img class="icon" src="{{ item.image }}"/> {{ item.name }} <span> {{ item.symbol }} </span></td>
          <td class="c3">{{ "$"+ item.current_price.toFixed(2)}}</td>
          <td [ngClass]="item.price_change_percentage_24h > 0 ? 'text-success': 'text-danger'" class="c4">{{ item.price_change_percentage_24h.toFixed(1)+"%" }}</td>
          <td [ngClass]="item.price_change_percentage_24h > 0 ? 'text-success': 'text-danger'" class="c4">{{ item.price_change_percentage_7d_in_currency.toFixed(1)+"%" }}</td>
          <td class="c3">{{ "$"+ item.market_cap.toLocaleString() }}</td>
          <td class="c3">{{ "$"+ item.total_volume.toLocaleString() }}</td>
          <td class="c3">{{ "$"+ item.circulating_supply.toLocaleString(undefined, {maximumFractionDigits: 0}) }}</td>
          <td class="c3">{{ item.chart }}</td>
        </tr>
      </table>
  </mat-card>
</div>